.search-container {
  max-width: 600px;
  margin: 0 auto;
}

.search-results {
  top: 100%;
  z-index: 1000;
  border: 1px solid #dee2e6;
  max-height: 400px;
  overflow-y: auto;
}

.search-result {
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f8f9fa;
  }
}
.card-img-top {
  cursor: pointer;
  &:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎬</text></svg>") 16 0, auto;
  }
}
